/* You can add global styles to this file, and also import other style files */
body {
    background-color: #eeeeee;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* .mat-tab-label:last-child {
    margin-left: auto; 
  } */
  .mat-header-cell,
  .mat-sort-header {
    /* background-color: #006ab4;  */
    background-color: #006ab4 !important;
    color: white !important;
  }

  .btnAction{
      background-color: #006ab4 !important;
      color: white !important;
  }
 
mat-label{
  color: black !important;
  font-size: medium !important;
}
button{
  outline-style: none !important;
}
